test*

__pycache__

/rails/server-data.json
/rails/routes.txt
/rails/get-routes.sh


.env
node_modules

/.docker/.root/*
!/.docker/.root/dhcp/.keep
!/.docker/.root/dns/.keep
!/.docker/.root/rails/.keep

# Ignore bundler and the config.
/rails/.bundle/cache
/rails/vendor/bundle

# Ignore all logfiles and tempfiles.
/rails/log/*
/rails/tmp/*
!/rails/log/.keep
!/rails/tmp/.keep

# Ignore pidfiles, but keep the directory.
/rails/tmp/pids/*
!/rails/tmp/pids/
!/rails/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
/rails/storage/*
!/rails/storage/.keep
/rails/tmp/storage/*
!/rails/tmp/storage/
!/rails/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
/rails/config/master.key